services:
  app:
    build:
        context: ./.docker
    volumes:
      - ./:/usr/src/app
    tty: true
    ports:
      - "8501:8501"
      - "8080:8080"
    restart: unless-stopped
    env_file:
      - .env

  scheduler:
    build:
      context: ./.docker
    volumes:
      - ./:/usr/src/app
    tty: true
    restart: unless-stopped
    env_file:
      - .env
