services:
  app:
    build:
        context: .
        dockerfile: .docker/Dockerfile
    volumes:
      - ./:/usr/src/app
    tty: true
    ports:
      - "8501:8501"
      - "8080:8080"
    restart: unless-stopped
    env_file:
      - .env
